$mainBackground: #e4e4e4;
$fontFullSize: 17px;
$fontMediumSize: 15px;
$fontSmallSize: 13px;
$fontFamily: Arial Sans serif;

$headerBackground: #ffffff;
$headerHeight: calc(100vw / 4 );

$footerHeight: 60px;

$newsHeight: 100px;